@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customized: Scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: #00000011;
}

::-webkit-scrollbar-thumb {
	background-color: #ddd;
	outline: none;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #c2c3c4;
}

/* Ant Design Message Over Everything  */
.ant-message {
	z-index: 1220;
}

/* NProgess Color */
#nprogress {
	z-index: 1000000000 !important;
}

#nprogress .bar {
	background: #c96a6f !important;
	height: 4px !important;
}

#nprogress .spinner-icon {
	border-top-color: #c96a6f !important;
	border-left-color: #c96a6f !important;
	/* z-index: 1000000000 !important; */
}

#nprogress .peg {
	box-shadow: 0 0 10px #f50a21, 0 0 5px #f50a21 !important;
}
